* {
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */

  /* font configs */
  color: teal;
}

body {
  /* background-color: papayawhip; */
  background-image: url("assets/wall1.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}


/* main contents */
.main-container {
  /* border: 1px solid green;          debugging border */
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto ;
  padding: 2em;
  background-color: rgba(245, 255, 241, 0.7);


}
.image-container {
  /* border: 1px solid chartreuse;     debugging border */
  padding-right: 1em;
  width: 30%;
  flex-grow: 1;
  align-items: center;
}
.content-container {
  /* border: 1px solid darkgreen;      debugging border */
  padding: 4em 8em;
  width: 70%;
  align-items: center;
  flex-grow: 5;
}

/* image */
img.profile {
    width: 18em;
    height: auto;

    border: 5px solid teal;
    border-radius: 999px;
}

/* contents */
.title {
    font-size: 4em;
}


a {
    text-decoration: none;
}
.li-ico {
    font-size: 2em;
}

.li-ico:hover {
    color: rgb(245, 255, 241);
}

.li-ico:active {
    color: pink;
}